<h4>Goals list</h4>

<div class="addGoal">
  <div>
    <label for="goalTitle">Title *: </label>
    {{input type="text" name="goalTitle" value=goalTitle}}
    {{#if errors.goalTitle }}
        <div class="help-block">{{errors.goalTitle}}</div>
    {{/if}}
  </div>

  <div>
    <label for="goalScore">Score: </label>
    {{input type="text" name="goalScore" value=goalScore}}
  </div>

  <input type="button" value="+" {{action "onAddGoal"}}>
</div>

<ul class="goalsList">
  {{#each goals as |goal|}}
    <li>Goal {{goal.title}} {{goal.score}}</li>
  {{else}}
    Sorry, goals is here.
  {{/each}}
</ul>
